<header class="navbar">

  <nav>

    <ul class="navbar-section">
      <li class="nav-item btn btn-link">
        <a [routerLink]="'/'">Home</a>
      </li>
      <li *ngIf="user" class="nav-item btn btn-link">
          <a [routerLink]="'/bookmark'">Bookmark</a>
      </li>
      <li *ngIf="user" class="nav-item btn btn-link">
        <a href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
    <ul class="navbar-section">
      <li *ngIf="user" class="nav-item btn btn-link bg-gray">
        Hello : {{user.firstname}}
      </li>
    </ul>

  </nav>

</header>
