
<div class="card">
  <div class="card-image">
    <img src="{{news.urlToImage}}" class="img-responsive">
  </div>
  <div class="card-header">
    <div class="card-title h5">{{ news.title }}</div>
    <div class="card-subtitle text-gray">{{ news.description }}</div>
  </div>
  <div class="card-body">
    <div class="bg-secondary">Publised at {{ news.publishedAt }}</div>

    {{ news.content }}
  </div>
  <div class="card-footer">
    <a href=" {{ news.url }}" target="_blank">
      <button class="btn btn-primary">Read More...</button>
    </a>
  </div>
</div>
